$normal: 14px;
$bold: 'Lato-Bold';
$light: 'Lato-Light';
$heavy: 'Lato-Heavy';
$black: 'Lato-Black';


// $bp-xx-large:   "only screen and (min-width : 1400px)";
// $bp-x-large:    "only screen and (min-width : 1201px)";
$min-m:      "only screen and (min-width : 992px)";
$min-l:      "only screen and (min-width : 1200px)";
$bp-large:      "only screen and (max-width : 1199px)";
$bp-medium:     "only screen and (max-width : 991px)";
$bp-small:      "only screen and (max-width : 767px)";
$bp-xsmall:    "only screen and (max-width : 479px)";
$bp-xxsmall:    "only screen and (max-width : 320px)";

